Allow from all

RewriteEngine On

# No es necesario agregar a una ruta el .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

# No es necesario agregar a una ruta el .html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html

#Modo produccion
RewriteRule . index.html

#Modo desarrollo
#RewriteRule . index-dev.html 
