@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: hidden;
}

@media only screen and (max-width: 764px) {
  .main-header .logo {
    display: none;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #bdc1c6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
  background: #8c8f93;
}